name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Backend Image
        run: docker build -t cms-backend backend

      - name: Build Frontend Image
        run: docker build -t cms-frontend frontend

      - name: Run Containers
        run: docker-compose up -d
