name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Backend Image
        run: docker build -t cms-backend -f Dockerfile.backend .

      - name: Build Frontend Image
        run: docker build -t cms-frontend -f Dockerfile.frontend .

      - name: Run Containers
        run: docker-compose up -d
